<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexa.core.dept">
	<insert id="insertDepartment" parameterType="deptDTO">
		INSERT INTO DEPARTMENTS VALUES((SELECT MAX(DEPARTMENT_ID) FROM DEPARTMENTS)+1,'새 부서',#{upper_id},null,null,0)
	</insert>
	
	<update id="updateDepartment" parameterType="deptDTO">
		UPDATE DEPARTMENTS SET UPPER_ID = #{upper_id}, NAME=#{name}, FAXNUM =#{faxnum}, D_PHONE=#{d_phone}
			WHERE DEPARTMENT_ID = #{department_id}
	</update>
	
	<update id="moveDepartment" parameterType="deptDTO">
		UPDATE DEPARTMENTS SET UPPER_ID = #{upper_id}
			WHERE DEPARTMENT_ID = #{department_id}
	</update>
	
	<delete id="deleteDepartment" parameterType="java.lang.Integer">
		DELETE FROM DEPARTMENTS WHERE DEPARTMENT_ID = #{department_id}
	</delete>
	
	<select id="selectDepartment" parameterType="java.lang.String" resultType="deptDTO">
		SELECT DEPARTMENT_ID, NAME, UPPER_ID, FAXNUM, D_PHONE, STATE FROM DEPARTMENTS
			WHERE DEPARTMENT_ID=#{department_id}
	</select>
	
	<select id="selectDepartmentList" parameterType="java.util.Map" resultType="deptDTO">
		SELECT d.DEPARTMENT_ID, d.NAME ,UPPER_ID, FAXNUM, D_PHONE
			FROM DEPARTMENTS d 
				WHERE UPPER_ID = #{dept_id} AND DEPARTMENT_ID != 0
					ORDER BY DEPARTMENT_ID
	</select>
	
	<select id="selectMaxId" resultType="java.lang.Integer">
		SELECT MAX(DEPARTMENT_ID) FROM DEPARTMENTS		
	</select>
</mapper>
