<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hexa.core.web.eappr.sqls">


	<!-- 문서 수정을 위한 해당 문서 조회 -->
	<select id="selectDoc" parameterType="java.lang.String" resultType="DocumentDto">
	SELECT SEQ, AUTHOR, TITLE, STATE, APPR_TURN, TYPE_SEQ, CONTENT,REGDATE 
		FROM DOCUMENT
			WHERE SEQ = #{seq}
	</select>
	
	<!-- 문서 수정된 사항 UPDATE -->
	<update id="updateDoc" parameterType="DocumentDto">
	UPDATE DOCUMENT
		SET STATE=#{state}, APPR_TURN=#{appr_turn}, REGDATE=SYSDATE
		<if test="content !=null and title!=null">
		,CONTENT=#{content} ,TITLE=#{title}
		</if>
			WHERE SEQ=#{seq}
	</update>
	
	<!-- 해당문서 결재루트 체크 -->
	<select id="selectApprRoot" parameterType="ApprovalDto" resultType="ApprovalDto">
	SELECT ID , CHK , TURN, NAME, DUTY, APPR_DATE, APPR_KIND, APPR_SIGN
		FROM APPROVAL 
			WHERE SEQ = #{seq}
			<if test="id!=null">
				AND ID=#{id}
			</if>
	</select>
	
	<!-- 결재 루트 삭제 -->
	<delete id="deleteApprRoot" parameterType="java.lang.String">
	DELETE FROM APPROVAL
		WHERE SEQ = #{seq}
	</delete>
	
	<!-- 결재루트 입력 -->
	<insert id="insertApprRoot" parameterType="ApprovalDto">
	INSERT INTO APPROVAL
		(SEQ, ID, NAME, DUTY, CHK, TURN, APPR_KIND)
	VALUES(#{seq}, #{id}, #{name}, #{duty}, 'F', #{turn}, #{appr_kind})
	</insert>
	
	<!-- 문서 상신/취소의 문서 상태 변경 쿼리-->
<!-- 	<update id="updateDocState" parameterType="DocumentDto">
	UPDATE DOCUMENT
		SET STATE = #{state}, APPR_TURN = #{appr_turn}, REGDATE=SYSDATE
			WHERE SEQ = #{seq}
	</update> -->
	
	<!-- 파일 업로드 DB에 첨부파일 저장 하는 쿼리 작성 및 테스트 -->
	<insert id="insertFile" parameterType="DocFileDto">
		INSERT INTO DocFileDTO
			(NAME, SEQ, F_PATH, ORI_NAME, F_SIZE)
			VALUES(#{name}, #{seq}, #{f_path}, #{ori_name}, #{f_size})
		
	</insert>
	
	<!-- 업로드한 파일 삭제	DB에 저장되어있는 첨부파일 영구 삭제 하는 쿼리 작성 및 테스트 -->
	<delete id="deleteFile" parameterType="java.lang.String">
	DELETE FROM DocFileDTO
		WHERE SEQ= #{seq}
	</delete>
	
<!-- 문서승인 -->
<!-- 문서 결재시 결재선 업데이트 CHK T 반려시 R 업데이트-->
	<update id="updateApprChk" parameterType="ApprovalDto">
	UPDATE APPROVAL
		SET CHK =#{chk}, APPR_DATE=SYSDATE, APPR_SIGN=#{appr_sign}
			WHERE SEQ =#{seq} AND ID = #{id}
	</update>
<!-- 문서 결재시 코멘트 입력 -->
	<insert id="insertComment" parameterType="DocCommentDto">
	INSERT INTO DOC_COMMENTS
		(SEQ, COMMENT_SEQ, ID, NAME, CONTENT, REGDATE)
			VALUES({seq}, #{turn},#{id}, #{name}, #{content}, SYSDATE)
	</insert>
<!-- 	승인시  문서함 TURN 업데이트 -->
	<update id="updateDocTurn" parameterType="ApprovalDto">
	UPDATE DOCUMENT
		SET STATE =#{state}
		<if test="appr_turn!= null AND appr_turn gte 1 AND appr_turn lte 2">
			,APPR_TURN = (SELECT MAX(APPR_TURN) FROM DOCUMENT)+1
		</if>
			WHERE SEQ =#{seq}
	</update>

	<!-- 문서 양식 추가	 -->
	<insert id="insertDocType" parameterType="DocumentTypeDto">
	INSERT INTO DOCUMENT_TYPE (TYPE_SEQ , NAME, CONTENT, CATEGORY)
		VALUES(TYPE_SEQ_SEQ.NEXTVAL, #{name}, #{content}, #{category})
	</insert>
	
	<!-- 문서 양식 리스트 출력 -->
	<select id="selectDocTypeList" resultType="DocumentTypeDto">
		SELECT TYPE_SEQ, NAME, CATEGORY FROM DOCUMENT_TYPE ORDER BY CATEGORY
	</select>
	
	<!-- 문서 양식 선택, 미리보기 출력 -->
	<select id="selectDocType" parameterType="java.lang.String" resultType="DocumentTypeDto">
		SELECT TYPE_SEQ, NAME, CONTENT, CATEGORY FROM DOCUMENT_TYPE WHERE TYPE_SEQ = #{type_seq}
	</select>
	
	<!-- 문서 양식 수정 -->
	<update id="updateDocType" parameterType="DocumentTypeDto">
		UPDATE DOCUMENT_TYPE SET NAME = #{name}, CONTENT = #{content}, CATEGORY = #{category}
	</update>
	
	<!-- 문서 양식 삭제 -->
	<delete id="deleteDocType" parameterType="java.lang.String">
		DELETE * FROM DOCUMENT_TYPE WHERE TYPE_SEQ = #{type_seq}
	</delete>
		
	<!-- 문서 삭제 -->
	<delete id="deleteDoc" parameterType="java.lang.String">
		DELETE * FROM DOCUMENT WHERE SEQ = #{seq}
	</delete>
	
	<!-- 상신문서함에 있는 문서의 총 개수 -->
	<select id="selectReportCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM DOCUMENT WHERE AUTHOR = #{id} AND (STATE = '1' OR STATE = '2')
	</select>
	
	<!-- 문서의 개수 (0:임시저장함/1:상신문서함-결재대기중문서/2:상신문서함-결재중문서/3:결재완료함/4:반려문서함) -->
	<select id="selectMyDocCount" parameterType="DocumentDto" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM DOCUMENT WHERE AUTHOR = #{id} AND STATE = #{state}
	</select>
	
	<!-- 참조문서함에 있는 문서의 개수 -->
	<select id="selectReferDocCount" parameterType="ApprovalDto" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM APPROVAL WHERE ID = #{id} AND APPR_KIND = '참조'
	</select>
	
	<!-- 결재문서함-문서의 총 개수 -->
	<select id="selectApprDocCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM APPROVAL a ,DOCUMENT d WHERE a.ID=#{id} AND d.STATE>0 AND a.SEQ = d.SEQ AND (d.TURN>a.TURN)
	</select>
	
	<!-- 결재문서함-결재해야할 문서의 개수 -->
	<select id="selectNeedApprDocCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM APPROVAL a ,DOCUMENT d WHERE a.ID=#{id} AND d.STATE>0 AND a.SEQ = d.SEQ AND a.TURN = d.APPR_TURN AND a.CHK = 'F'
	</select>
	
	<!-- 문서 상신(임시보관함에서 상신하는 경우) -->
	<update id="updateSaveToAppr" parameterType="java.lang.String">
		UPDATE DOCUMENT SET APPR_TURN = '1' WHERE SEQ = #{seq}
	</update>
	
	<!-- 문서에 첨부된 파일 정보 가져오기 -->
	<select id="selectFileInfo" parameterType="java.lang.String" resultType="DocFileDto">
		SELECT * FROM DOC_FILES WHERE CATEGORY = '0' AND SEQ = #{seq}
	</select>
	
	<!-- 결재자의 서명 정보 가져오기 -->
	<select id="selectSignImg" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT SIGN_IMG FROM EMPLOYEES WHERE ID = #{id}
	</select>
	
	<!-- 문서 작성(STATE 0:임시저장/1:바로상신) -->
	<insert id="insertNewDoc" parameterType="DocumentDto">
		INSERT INTO DOCUMENT (SEQ, AUTHOR, TITLE, CONTENT, TYPE_SEQ, STATE, REGDATE, APPR_TURN)
			VALUES (DOCUMENT_SEQ.NEXTVAL, #{id}, #{title}, #{content}, #{type_seq}, #{state}, #{regdate}, '1')
	</insert>
	
	<!-- 결재자 정보 입력 -->
	<insert id="insertApprInfo" parameterType="ApprovalDto">
		INSERT INTO APPROVAL (SEQ, ID, CHK, TURN)
			VALUES (MAX(SELECT SEQ FROM DOCUMENT), #{id}, 'F', #{turn})
	</insert>
	
</mapper>