<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexa.core.emp">
	<insert id="insertEmployee" parameterType="empDTO">
		INSERT INTO EMPLOYEES
			(EMPLOYEE_NUMBER, ID, PASSWORD, NAME, PHONE, EMAIL, E_RANK, AUTH, BIRTH, DEPARTMENT_ID, JOIN_DATE, GENDER, POSTCODE, ADDRESS, DETAILADDRESS, STATE,PROFILE_IMG, SIGN_IMG)
				VALUES(E_NUM_SEQ.NEXTVAL, #{id}, #{password}, #{name}, #{phone}, #{email}, 16
						, 'U', #{birth}, #{department_id}, SYSDATE, #{gender}, #{postcode}, #{address}, #{detailaddress}, 0, #{profile_img}, null)

	</insert>
	
	<update id="deleteEmployee" parameterType="java.lang.Integer">
		UPDATE EMPLYEES SET STATE='-1' WHERE EMPLOYEE_NUMBER=#{num}
	</update>
	
	<update id="updateEmployee" parameterType="empDTO">
		UPDATE EMPLOYEES
			SET 
				<choose>
					<when test="empDTO.password != null">
						PASSWORD=#{password} 
					</when>
					<otherwise>
						PHONE=#{phone}, EMAIL=#{email}, E_RANK=#{e_rank}, AUTH=#{auth}, DEP0ARTMENT_ID=#{department_id}, 
						POSTCODE=#{postcode}, ADDRESS=#{address], DETAILADDRESS=#{detailaddress}, STATE=#{state}, PROFILE_IMG=#{profile_img}, SIGN_IMG=#{sign_img}
					</otherwise>
				</choose> 
					WHERE EMPLOYEE_NUMBER=#{employee_number}
	</update>
	
	<select id="selectChildEmployeeList" parameterType="java.lang.Integer" resultType="empDTO">
		SELECT EMPLOYEE_NUMBER, ID, e.NAME, PHONE, EMAIL, E_RANK, 
			AUTH, BIRTH, e.DEPARTMENT_ID, JOIN_DATE, GENDER, POSTCODE, ADDRESS, DETAILADDRESS, e.STATE, PROFILE_IMG, SIGN_IMG, d.NAME DEPARTMENT_NAME, r.NAME E_RANK_NAME
				FROM EMPLOYEES e, DEPARTMENTS d, "RANK" r
					WHERE e.DEPARTMENT_ID=d.DEPARTMENT_ID AND e.E_RANK = r.RANK_NUM AND e.DEPARTMENT_ID = #{department_id} AND e.STATE != '-1'
	</select>
	
	<select id="selectEmployeeList" resultType="empDTO">
			SELECT EMPLOYEE_NUMBER, ID, e.NAME, PHONE, EMAIL, E_RANK, 
			AUTH, BIRTH, e.DEPARTMENT_ID, JOIN_DATE, GENDER, POSTCODE, ADDRESS, DETAILADDRESS, e.STATE, PROFILE_IMG, SIGN_IMG, d.NAME DEPARTMENT_NAME, r.NAME E_RANK_NAME
				FROM EMPLOYEES e, DEPARTMENTS d, "RANK" r
					WHERE e.DEPARTMENT_ID=d.DEPARTMENT_ID AND e.E_RANK = r.RANK_NUM
	</select>
	
	<select id="selectEmployee" parameterType="java.lang.Integer" resultType="empDTO">
			SELECT EMPLOYEE_NUMBER, ID, PASSWORD,e.NAME, PHONE, EMAIL, E_RANK, 
			AUTH, BIRTH, e.DEPARTMENT_ID, JOIN_DATE, GENDER, POSTCODE, ADDRESS, DETAILADDRESS, e.STATE, PROFILE_IMG, SIGN_IMG, d.NAME DEPARTMENT_NAME, r.NAME E_RANK_NAME
				FROM EMPLOYEES e, DEPARTMENTS d, "RANK" r
					WHERE e.DEPARTMENT_ID=d.DEPARTMENT_ID AND e.E_RANK = r.RANK_NUM AND EMPLOYEE_NUMBER = #{employee_number}
	</select>
	
	<select id="selectEmpPw" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT PASSWORD
				FROM EMPLOYEES
					WHERE ID = #{id}
	</select>
	
	<select id="selectLoginInfo" parameterType="java.lang.String" resultType="empDTO">
		SELECT EMPLOYEE_NUMBER, ID, e.NAME, EAMIL, E_RANK, 
			AUTH, e.DEPARTMENT_ID, e.STATE, PROFILE_IMG, d.NAME DEPARTMENT_NAME, r.NAME E_RANK_NAME
				FROM EMPLOYEES e, DEPARTMENTS d, "RANK" r
					WHERE e.DEPARTMENT_ID=d.DEPARTMENT_ID AND e.E_RANK = r.RANK_NUM AND ID=#{id} AND e.STATE != '-1'
	</select>
	
	<update id="moveEmployee" parameterType="java.lang.Integer">
		UPDATE EMPLOYEES
               SET  DEPARTMENT_ID=0
                   WHERE DEPARTMENT_ID=#{department_id}
	</update>
</mapper>
