<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexa.core.notice.freeb">
	
	<!-- 1. 자유게시판 글 작성 -->
	<insert id="insertFreeBbs" parameterType="BbsDto">
	INSERT INTO FREE_BBS 
		(SEQ, 		ID, 		NAME, 
		 TITLE, 	CONTENT, 	STATE, 
		 REGDATE, 	VIEWS, 		ROOT, 
		 REPLY_SEQ, BBS_DEPTH)
	  VALUES (FREE_BBS_SEQ.NEXTVAL, #{id}, 		#{name}, 	#{title}, 
	  		  #{content}, 			0, 			SYSDATE, 	0, 
			  (SELECT NVL(MAX(ROOT),0)+1 FROM FREE_BBS), 0, 0)
	</insert>

	<!-- 2. 자유게시판 글 수정 -->
	<update id="updateModifyFreeBbs" parameterType="BbsDto">
	UPDATE FREE_BBS
		SET TITLE=#{title}, CONTENT=#{content}
			WHERE SEQ=#{seq}
	</update>
	
	<!-- 3. 자유 게시판 글 단일삭제 -->
	<update id="updateDeleteFreeBbs" parameterType="java.lang.String">
	UPDATE FREE_BBS
		SET STATE = 1
			WHERE STATE = 0 AND SEQ = #{seq}
	</update>
	
	<!-- 4. 자유 게시판 글 다중삭제 -->
	<update id="updateMultiDelFreeBbs" parameterType="java.util.Map">
 	UPDATE FREE_BBS 
 		SET STATE = 1
      		WHERE STATE = 0 AND SEQ IN 
      		<foreach collection="seqs" item="seq" open="(" separator="," close=")">
      			#{seq}
      		</foreach>
	</update>
	
	<!-- 5. (유저) 자유 게시판 글 조회 -->
	<select id="selectUserFreeBbsList" resultType="BbsDto">
	SELECT SEQ, ID, NAME, TRIM(TITLE) TITLE, CONTENT, STATE, REGDATE, VIEWS, ROOT, REPLY_SEQ, BBS_DEPTH
		FROM FREE_BBS
			WHERE STATE = 0
				ORDER BY ROOT DESC, REPLY_SEQ
	</select>
	
	<!-- 6. (관리자) 자유 게시판 글 조회 -->
	<select id="selectAdminFreeBbsList" resultType="BbsDto">
	SELECT SEQ, ID, NAME, TRIM(TITLE) TITLE, CONTENT, STATE, REGDATE, VIEWS, ROOT, REPLY_SEQ, BBS_DEPTH
		FROM FREE_BBS
			ORDER BY ROOT DESC, REPLY_SEQ
	</select>
	
	<!-- 7. 자유 게시판 상세글 보기 -->
	<select id="selectDetailFreeBbs" parameterType="java.lang.String"
							   		 resultType="BbsDto"> 
	SELECT SEQ, ID, NAME, TITLE, NVL(CONTENT, ' ') CONTENT, STATE, REGDATE, VIEWS, ROOT, REPLY_SEQ, BBS_DEPTH
		FROM FREE_BBS
			WHERE SEQ = #{seq}
	</select>
	
	<!-- 8. 자유 게시판 조회수 증가  -->
	<!-- 유저에만 해당하는 사항 -->
	<update id="updateViewsBbs" parameterType="java.lang.String">
	UPDATE FREE_BBS 
		SET VIEWS = VIEWS+1
			WHERE SEQ = #{seq}
	</update>
	
	<!-- 9. 자유 게시판 답글 -->
	<update id="updateReplyBbs" parameterType="BbsDto">
		UPDATE FREE_BBS 
			SET REPLY_SEQ = REPLY_SEQ+1
				WHERE ROOT =(SELECT ROOT FROM FREE_BBS WHERE SEQ = #{seq})
					AND REPLY_SEQ > (SELECT REPLY_SEQ FROM FREE_BBS WHERE SEQ =#{seq})
	</update>
	
	<insert id="insertReplyBbs" parameterType="BbsDto">
	INSERT INTO FREE_BBS 
	(SEQ, ID, NAME, TITLE, CONTENT, STATE, REGDATE, VIEWS, ROOT, REPLY_SEQ, BBS_DEPTH)
	VALUES (FREE_BBS_SEQ.NEXTVAL, #{id}, #{name}, #{title}, #{content},
			0, SYSDATE, 0,
			(SELECT ROOT FROM FREE_BBS WHERE SEQ = #{seq}),
			(SELECT REPLY_SEQ FROM FREE_BBS WHERE SEQ = #{seq}) +1,
			(SELECT BBS_DEPTH FROM FREE_BBS WHERE SEQ = #{seq}) +1)
	</insert>
	
	<!-- 10. 유저 자유게시판 페이징 처리 -->
	<select id="selectUserBbsListRow" parameterType="RowNum"
									  resultType="BbsDto">
	SELECT SEQ, 		ID, 		NAME, 		TRIM(TITLE) TITLE, 
		   CONTENT, 	STATE, 		REGDATE, 	VIEWS, 
		   ROOT, 		REPLY_SEQ, 	BBS_DEPTH
		FROM 
		(
		SELECT ROWNUM RNUM, 	SEQ, 		ID, 		NAME,
				   TRIM(TITLE) TITLE, CONTENT,	STATE,		REGDATE,	
				   VIEWS,		ROOT,		REPLY_SEQ,	BBS_DEPTH
			FROM
			(
			SELECT SEQ, ID, NAME, TRIM(TITLE) TITLE, CONTENT, STATE, REGDATE, VIEWS, ROOT, REPLY_SEQ, BBS_DEPTH
				FROM FREE_BBS
					WHERE STATE = 0 OR STATE = 2
						ORDER BY ROOT DESC, REPLY_SEQ 
			)
		)
		WHERE
			RNUM BETWEEN #{start} AND #{last}
	</select>
	
	<!-- 11. 관리자 자유게시판 페이징 처리 -->
	<select id="selectAdminBbsListRow" parameterType="RowNum"
									  resultType="BbsDto">
	SELECT SEQ, 		ID, 		NAME, 		TRIM(TITLE) TITLE, 
		   CONTENT, 	STATE, 		REGDATE, 	VIEWS, 
		   ROOT, 		REPLY_SEQ, 	BBS_DEPTH
		FROM 
		(
		SELECT ROWNUM RNUM, 	SEQ, 		ID, 		NAME,
				   TRIM(TITLE) TITLE, CONTENT,	STATE,		REGDATE,	
				   VIEWS,		ROOT,		REPLY_SEQ,	BBS_DEPTH
			FROM
			(
			SELECT SEQ, ID, NAME, TRIM(TITLE) TITLE, CONTENT, STATE, REGDATE, VIEWS, ROOT, REPLY_SEQ, BBS_DEPTH
				FROM FREE_BBS
					ORDER BY ROOT DESC, REPLY_SEQ 
			)
		)
		WHERE
			RNUM BETWEEN #{start} AND #{last}
	</select>
	
	<!-- 12. 유저 자유게시판 글 전체 갯수 -->
	<select id="selectUserBoardListTotal" resultType="java.lang.Integer">
	SELECT COUNT(*) 
		FROM FREE_BBS
			WHERE STATE = 0
	</select>
	
	<!-- 13. 관리자 자유게시판 글 전체 갯수 -->
	<select id="selectAdminBoardListTotal" resultType="java.lang.Integer">
	SELECT COUNT(*) 
		FROM FREE_BBS
	</select>
	
	<!-- 14. seq최대값 가져오기(검색엔진 + 자기가 쓴글 상세보기) -->
	<select id="selectNewBbs" resultType="java.lang.String">
		SELECT SEQ FROM FREE_BBS WHERE SEQ=(SELECT MAX(SEQ) FROM FREE_BBS)
	</select>
	
	<!-- 15. 파일 추가 -->
	<insert id="insertFile" parameterType="FileDto">
	INSERT INTO HEXA.FILES
		(NAME, SEQ, F_PATH, ORI_NAME, F_SIZE, CATEGORY)
			VALUES(#{name}, #{seq}, #{f_path}, #{ori_name}, #{f_size}, #{category})
	</insert>
	
	<!-- 16. 파일 삭제 -->
	<delete id="deleteFile" parameterType="java.lang.String">
	DELETE FILES 
		WHERE SEQ = #{seq}
	</delete>
	
	<!-- 17. 파일 조회 -->
	<select id="selectFile" parameterType="java.lang.String">
	SELECT NAME ,F_SIZE 
		FROM FILES 
			WHERE SEQ=#{seq}
	</select>
	
</mapper>
