@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

* {
	font-family: 'Jeju Gothic', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: #E1E2E1;
}

.wrap {
	position: relative;
	min-height: 100%;
}

header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	height: 100px;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	font-size: 1.5em;
	z-index: 2;
}

footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
}

.content {
	position: relative;
	padding-bottom: 100px;
	background-color: white;
	padding: 10px;
	margin: 20px;
}

.container {
	width: 100%;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.topmenu {
	display: table-cell;
	height: 100px;
	vertical-align: middle;
}

.topmenu:hover {
	transform: scale(1.2);
	transition: transform .5s;
	cursor: pointer;
}

.mypage, .logout {
	display: table-cell;
	width: 100px;
	height: 50px;
	vertical-align: middle;
	font-size: 0.75em;
	right: 0;
	transition: color 1s;
}

.logout:hover {
	color: red;
	cursor: pointer;
}

.mypage:hover {
	color: blue;
	cursor: pointer;
}

.searchbar {
	display: table-cell;
	width: 700px;
	height: 100px;
	vertical-align: middle;
}

.footer {
	display: table-cell;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	width: 200px;
}