@charset "UTF-8";

.leftBox {
	float: left;
	width: 70%;
	text-align: center;
}

.rightBox {
	float: right;
	width: 29%;
	text-align: center;
}

.apprbtn {
	width: 100%;
	margin-bottom: 20px;
}

.apprBox {
	border: 5px solid #414345;
	padding: 10px;
}

.apprtable, .refertable {
	width: 100%;
}

.refers {
	overflow: scroll;
}

.index {
	background: #E1E2E1;
	height: 30px;
}

.apprs {
	height: 100px;
	width: 100%;
	border: 2px solid #E1E2E1;
}

.btnBox {
	margin-top: 50px;
	width: 100%;
}

.refers {
	height: 250px;
	width: 100%;
	border: 2px solid #E1E2E1;
}

#docuHead {
	width: 100%;
	border-collapse: collapse;
}

#docuHead tr {
	border: 1px solid #E1E2E1;
	height: 50px;
}

#docuHead th {
	background: #E1E2E1;
}

#inputTitle {
	width: 95%;
}

#contentModi > .contentDiv{
	float: right;
	width: 100%;
	margin: 0 auto;
}
#contentModi > .apprSignTable{
	float:right;
	width: 50%;
}

.contentDiv > table {
	width: 100%;
}

