@charset "UTF-8";
 
body {
	padding : 10px;
}

#leftbox, #left2 {
 	float: left;
 }
 
#rightbox, #right2 {
 	float: right;
 }
 
#leftbox, #rightbox {
 	width: 49%;
 	height: 100px;
 }
 
#left2, #right2 {
 	width: 48%;
 	height: 100px;
 	box-shadow: 2px 2px 2px 2px gray;
 	text-align: center;
 	padding: 10px;
}

#left2:hover, #right2:hover, #boxs:hover {
	background-color: #E1E2E1;
	cursor: pointer;
	transition: background-color 1s;
}
 
b {
	font-size: 2em;
	font-weight: bold;
}

#quickview {
	position: relative;
	text-align: center;
	margin-top: 150px;
}

#boxs {
	width: 70%;
	height: 75px;
	box-shadow: 2px 2px 2px 2px gray;
	text-align: center;
 	padding: 10px;
 	margin: 20px auto;
}

table {
	width: 100%;
	margin-top: 15px;
}