@charset "UTF-8";

.sidebar {
	position: fixed;
	left: 0;
	width: 12%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #232526;
	z-index: 1;
}

.subside {
	position: fixed;
	background-color: #414345;
	height: 100%;
	left: 12%;
	display: none;
	z-index: 2;
	color: white;
	padding: 120px 20px 120px 20px;
}

.subside > p {
	display: none;
}

.subside > p:hover {
	background-color: #232526;
	cursor: pointer;
}

.menu, .menu01, .submenu, .ddmenu {
	position: relative;
	height: 100px;
	line-height: 100px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1em;
}
.menu:hover, .menu01:hover, .submenu:hover, .ddmenu:hover {
	background-color: #414345;
	cursor: pointer;
}

.submenu{
	height: 50px;
	line-height: 50px;
	font-size: 0.5em;
	display: none;
}

.content {
	left: 12%;
	width: 85%;
	height: 800px;
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.preview {
	position: fixed;
	left: 22%;
	top: 100px;
	width: auto;
	height: 80%;
	background-color: white;
	z-index: 10;
	padding: 10px;
	color: black;
	display: none;
	overflow: scroll;
	border: 1px solid black;
	box-shadow: 2px 2px 2px 2px gray;
}

#iframe {
	height: 100%;
	width: 100%;
	border: none;
}