<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>20200507_Framework_dev</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/appServlet/applicationContext.xml</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- spring framework -->
	<!-- Spring been 위치 /WEB-INF/servletname-servlet.xml -->
	<!-- TODO 01 Spring bean을 생성하고 분기와 handlerMapping 처리를 해주는 DispatcherServlet을 
		작성 -->
	<!-- <servlet> -->
	<!-- <servlet-name>spring</servlet-name> -->
	<!-- <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>spring</servlet-name> -->
	<!-- <url-pattern>/spring/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 우리가 만든 프레임워크 -->
	<!-- <servlet> -->
	<!-- <servlet-name>nobrand</servlet-name> -->
	<!-- <servlet-class>com.min.edu.NobrandServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>nobrand</servlet-name> -->
	<!-- <url-pattern>/app/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 로그 필터 : 이동하는 모든 화면에 대한 요청 분석 -->
	<!-- java.lang.String 더 효과적으로 사용하기 위한 라이브러리 commons-lang3 -->
	<filter>
		<filter-name>logFilter</filter-name>
		<filter-class>com.min.edu.comm.filter.AccessLogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>